# Miscellaneous R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Stuff in the assets folder
assets/references.bib.sav
assets/references.bib.bak

# Don't commit original data files due to size and licensing
data

# Don't commit model fits due to large file sizes
output/fits
output/predictions

manuscript/latex
manuscript/ms-word